html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier';
    font-size:5pt;
    font-weight: bold;
    line-height: 0;
    color: white;
    background-color: black;
}

canvas{
    display: block;
} 
img{
    /* transform: scale(10); */
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
button{
    display: none;
}
.canvas{
    overflow: hidden;
    /* background-color: rgb(5, 5, 48); */
    border: 1px solid yellow;
    /* width: 400px;
    height: 400px; */
    /* overflow: hidden; */
}